h1 {
    color: black;
}
h2 {
    color: hsl(280 50% 40%);
}
fieldset {
    /*fixed unit #1*/
    width: 200px;
}
textarea {
    /*fixed unit #2*/
    width: 6cm;
}
.start-up-music-player {
    /*fixed unit #3*/
    width: 3in;
}
.feedback-pref-label {
    /*relative unit #1*/
    height: 5ex;
}
.setting-up-music-player {
    /*relative unit #2*/
    width: 50vw;
    max-width: 500px;
    /*relative unit #3*/
    height: 10vh;
    max-height: 80px;
}
.future-list {  
    border-style: dotted;
    border-color: #8D86C9;
    border-width: 20px;
    border-radius: 50px;
}

