h1 {
    color: black;
}
h2 {
    color: hsl(280 50% 40%);
}
fieldset {
    /*fixed unit #1*/
    width: 200px;
}
textarea {
    /*fixed unit #2*/
    width: 6cm;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.start-up-music-player {
    /*fixed unit #3*/
    width: 3in;
    margin: auto;
    padding: 30px 30px 30px 50px;
}
.feedback-pref-label {
    /*relative unit #1*/
    height: 5ex;
    margin: 20px 20px 20px 20px;
}
.setting-up-music-player {
    /*relative unit #2*/
    width: 50vw;
    max-width: 500px;
    /*relative unit #3*/
    height: 10vh;
    max-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
nav * {
    text-decoration: overline underline;
    text-align: center;
}
a[href="https://svgdb.me/assets/audio/en/vo_109441010_4.mp3"] {
    /*change text attributes in Not Here*/
}
/* pseudo class selector for buttons*/
button:hover {

}
/*selector list*/
ol, ul {
    border-style: dotted;
    border-color: #8D86C9;
    border-width: 20px;
    border-radius: 50px;
}
/*Descendant list*/
ol li {
    
}
/*Child Combinator*/
nav > a {
    
}
/*General sibling combinators*/
audio ~ p {
    
}
/*Adjacent sibling combinator */
p + form {
    
}
/*Combining Two Selectors*/
label.feedback-class {
    color:blueviolet;
}